body {background-color:cyan }
h1 {text-align:center }
h2 {text-align:center }
.eh {text-align:center }

.hmm {text-align:right }

.weee {text-align:right;background-color:blue;color:yellow; }
span {color:blue; }

.hey {text-align:center}
.um {background-color: red}
.ok {color:yellow;}
.but {color: blue;}